h1 {
    text-align: center;
    background-color: lightslategray;
    padding: 15px;
    margin: 50px;
    border: 5px thin black;
}

body {
    background-image: url("https://cutewallpaper.org/21/professional-website-background/professional-images-for-website-background-13-Ride-Now-Pte-Ltd.jpg");
}

nav {
    float: left;
    height: 100vh;
    padding: 25px;
    background-color: lightslategray;
}

ul {
    list-style-type: none;
    padding: 0;
}

li a {
    background-color: white;
    color: black;
    padding: 1em 1.5em;
    margin: 5px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
    text-transform: uppercase;
}

    li a:hover {
        background-color: grey;
        cursor: pointer;
    }

.main {
    float: left;
    /*display: block;*/
    margin-left: 10px;
}
