h1 {
    text-align: center;
    padding: 15px;
    margin: 50px;
    border: 5px dashed navy;
}

h2 {
    color: navy;
    margin-left: 15px;
}

li a {
    color: black;
}

body {
    background-image: url("https://cdn.shopify.com/s/files/1/1143/5434/products/Zeus_Lightning_Baby_Blue_detail_2000x.jpg?v=1583912455");
    margin-left: 25px;
}

footer {
    text-align: right;
    color: navy;
    text-transform: uppercase;
}
